@function error-url($path) {
  @return url("../components/error-page/assets/#{$path}");
}

.error-page {
  background-image: error-url('error-image.png');
  background-repeat: no-repeat;
  background-position:  60px 0;
  padding-top: 240px;
  padding-right: 60px;
}